* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    padding: 20px;
  
}

.header{
    height: 90vh;
    background-image: url(../HTMLandCSS_one/images/JustinMaller-blackAbstract.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    
}

/*clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);*/